<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{image_tag('/ico.png')}".html_safe, :root, :class=>"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to '¿Como comprar?', :help, :class=>"" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Iniciar sesion' , :login, :class=>"" %></li>
        <li><%= link_to 'Registrarse' , :signup, :class=>"" %></li>
        <li><%= link_to 'Nosotros', :aboutus, :class=>"" %></li>
      </ul>
    </div>
  </div>
</nav>
